.app{
  /* display: flex; */
}

.email-content{
  display: flex;
}
.emails{
  /* width: 30%; */
  margin-left: 1rem;
}

.filterBy{
  margin: 1rem 4rem;
  display: flex;
}

.filterBy__categories{
  margin-left: 2rem;
}

.filterBy__categories>span{
  padding: 0.5rem 1.5rem;
}

.filterBy__categories>span.active{
  background: var(--filter-button);
  border-radius: 20px;
}

.pages{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: .3rem;
}

.pages>span{
  padding: .5rem;
  color: #fff;
  background-color: var(--accent);
  cursor: pointer;
  border-radius: 25%;
}