@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--text);
}

:root{
  --accent: #E54065;
  --background: #F4F5F9;
  --read-background: #F2F2F2;
  --border: #CFD2DC;
  --text: #636363;
  --filter-button: #E1E4EA;
}

body{
  background-color: var(--background);
  font-size: 1rem;

}